.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chartContainer {
  width: 90vh;
  height: 90vh;
  margin: 2rem;
}

.barChart {
  height: 50vh;
  width: 90vh;
  padding: 1rem;
}
.datePicker {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
input {
  margin: 0.5em;
}
select {
  margin: 0.5em;
}
@media only screen and (max-width: 600px) {
  .barChart {
  }
}
.dateFilterContainer {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.dateFilterContainer p {
  margin-left: 2rem;
}
.filterContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
